.event-status{
    background: #2f972f;
    border: #2f972f;
    color: #fff;
    margin-bottom: 3px;
    padding: 3px 5px;
    font-size: 10px;
    border-radius: 3px;
    width: auto;
    margin-right: 2px;
}
.event-status1{
    background: #cdc44a;
    border: #cdc44a;
    color: #fff;
    margin-bottom: 3px;
    border-radius: 3px;
    padding: 3px 5px;
    font-size: 10px;
    width: auto;
   margin-right: 2px;
}

.event-status2{
    background: #00AEEF;
    border: #00AEEF;
    color: #fff;
    margin-bottom: 3px;
    border-radius: 3px;
    padding: 3px 5px;
    font-size: 10px;
    width: auto;
    margin-right: 2px;
}

.event-status3 {
    background: #d8f1f8;
    border: #d8f1f8;
    color: #000;
    margin-bottom: 3px;
    border-radius: 3px;
    padding: 3px 5px;
    font-size: 10px;
    width: auto;
    margin-right: 2px;
}

.fc-daygrid-day-events br{
    display: none;
}
.event-title{
    margin: 5px;
}
.del-txt:after {
    position: absolute;
    width: 96%;
   
    z-index: 99;
    top: 10px;
    left: 3px;
    content: "";
    height: 1px;
    background: #3a3a3a;
}
button[disabled].c-btn:active, button[disabled].c-btn {
   
    color: #9f9d9d;
    cursor: not-allowed;
    
    background: #f1efef;
}


.event-title1{
    color: #152693;
    font-weight: 700;
    font-size: 12px;}