<div id="kt_body" class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled">
    <div class="d-flex flex-column flex-root">
        <!--begin::Page-->
        <div class="page d-flex flex-row flex-column-fluid">
            <!--begin::Wrapper-->
            <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
                <!--begin::Header-->

                <app-header *ngIf="loginDetails?.roleId=='101'"></app-header>
                <app-mentee-header *ngIf="loginDetails?.roleId=='103'"></app-mentee-header>
                <app-mentor-header *ngIf="loginDetails?.roleId=='102'"></app-mentor-header>

                <!--end::Header-->
                <!--begin::Toolbar-->
                <div class="toolbar py-2" id="kt_toolbar">
                    <!--begin::Container-->
                    <div id="kt_toolbar_container" class="container-xxl d-flex flex-stack flex-wrap">
                        <!--begin::Page title-->
                        <div class="page-title d-flex flex-column me-3">
                            <!--begin::Title-->
                            <h1 class="d-flex text-gray my-1 fs-5">Change Password</h1>
                            <!--end::Title-->
                            <!--begin::Breadcrumb-->
                            <ul class="breadcrumb breadcrumb-dot fw-light text-gray-400 fs-8">
                                <!--begin::Item-->

                                <li class="breadcrumb-item text-gray-600" *ngIf="loginDetails?.roleId == '101'">
                                    <a routerLink="/cordinator/CoordinatorDashboard" routerLinkActive="active">Home</a>
                                </li>
                                <li class="breadcrumb-item text-gray-600" *ngIf="loginDetails?.roleId == '102'">
                                    <a routerLink="/mentor/MentorDashboard" routerLinkActive="active">Home</a>
                                </li>
                                <li class="breadcrumb-item text-gray-600" *ngIf="loginDetails?.roleId == '103'">
                                    <a routerLink="/mentee/menteeDashboard" routerLinkActive="active">Home</a>
                                </li>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <!-- <li class="breadcrumb-item text-gray-500"
                  *ngIf="loginDetails?.roleId !== '102' && loginDetails?.roleId !== '103' "><a href=""
                    routerLink="/cordinator/program" routerLinkActive="active">Program</a>
                </li> -->
                                <!-- <li class="breadcrumb-item text-gray-500">
                                    <a href="" routerLink="/mentee/MenteeProgram" routerLinkActive="active">Program</a>
                                </li> -->
                                <!--end::Item-->
                                <!--begin::Item-->
                                <li class="breadcrumb-item text-gray-500">
                                    <a>Change Password</a>
                                </li>
                                <!--end::Item-->
                            </ul>
                            <!--end::Breadcrumb-->
                        </div>
                        <!--end::Page title-->
                        <div class="" *ngIf="loginDetails?.roleId == '101'">
                            <a routerLink="/cordinator/CoordinatorDashboard" routerLinkActive="active"
                                class="btn btn-gray btn-sm fs-9"><svg xmlns="http://www.w3.org/2000/svg" width="12"
                                    height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" class="svg replaced-svg">
                                    <line x1="19" y1="12" x2="5" y2="12"></line>
                                    <polyline points="12 19 5 12 12 5"></polyline>
                                </svg>
                                Go Back</a>
                        </div>
                        <div class="" *ngIf="loginDetails?.roleId == '102'">
                            <a routerLink="/mentor/MentorDashboard" routerLinkActive="active"
                                class="btn btn-gray btn-sm fs-9"><svg xmlns="http://www.w3.org/2000/svg" width="12"
                                    height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" class="svg replaced-svg">
                                    <line x1="19" y1="12" x2="5" y2="12"></line>
                                    <polyline points="12 19 5 12 12 5"></polyline>
                                </svg>
                                Go Back</a>
                        </div>
                        <div class="" *ngIf="loginDetails?.roleId == '103'">
                            <a routerLink="/mentee/menteeDashboard" routerLinkActive="active"
                                class="btn btn-gray btn-sm fs-9"><svg xmlns="http://www.w3.org/2000/svg" width="12"
                                    height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" class="svg replaced-svg">
                                    <line x1="19" y1="12" x2="5" y2="12"></line>
                                    <polyline points="12 19 5 12 12 5"></polyline>
                                </svg>
                                Go Back</a>
                        </div>
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Toolbar-->
                <!--begin::Container-->
                <div class="d-flex flex-column flex-lg-row-fluid   ">
                    <!--begin::Form-->
                    <div class="d-flex flex-center flex-column justify-content-center">
                        <!--begin::Wrapper-->
                        <div class="w-lg-500px p-10">
                            <!--begin::Form-->
                            <form [formGroup]="loginForm" class="form  change-password-form w-100"
                                novalidate="novalidate" id="kt_sign_in_form" action="#">
                                <!-- <div class="text-end mb-20 fw-semibold">
                                    <span>New User ? <a class="text-primary" routerLink="/auth/sign-up">Sign Up</a></span>
                                </div> -->
                                <!--begin::Heading-->
                                <div class="mb-10">
                                    <p>Change password to continue</p>
                                </div>
                                <!--begin::Heading-->
                                <div class="fv-row mb-8">
                                    <div class="input-group mb-3">
                                        <input type="{{ oldPassword ? 'text' : 'password' }}" type="password"
                                            formControlName="oldPassword" placeholder="Old Password" name="oldPassword"
                                            autocomplete="off" class="form-control bg-transparent">
                                        <span class="input-group-text"> <button class="btn" type="button"
                                                (click)="oldPasswordVisibility()">
                                                <i [ngClass]="oldPassword ? 'bi bi-eye' : 'bi bi-eye-slash'"></i>
                                            </button></span>
                                    </div>
                                    <p class="text-danger error_msg"
                                        *ngIf="loginForm.controls['oldPassword'].touched && loginForm.controls['oldPassword'].hasError('required')">
                                        <small>Old Password Is Mandatory.</small>
                                    </p>
                                    <!--end::Email-->
                                </div>

                                <!--end::Separator-->
                                <!--begin::Input group=-->
                                <div class="fv-row mb-8">
                                    <!--begin::Email-->
                                    <div class="input-group mb-3">
                                        <input type="{{ newPassword ? 'text' : 'password' }}"
                                            formControlName="newPassword" placeholder="New Password" name="newPassword"
                                            class="form-control bg-transparent">
                                        <span class="input-group-text"> <button class="btn" type="button"
                                                (click)="newPasswordVisibility()">
                                                <i [ngClass]="newPassword ? 'bi bi-eye' : 'bi bi-eye-slash'"></i>
                                            </button></span>
                                    </div>
                                    <p class="text-danger error_msg"
                                        *ngIf="loginForm.controls['newPassword'].touched && loginForm.controls['newPassword'].hasError('required')">
                                        <small>New Password Is Mandatory.</small>
                                    </p>
                                    <p class="text-danger error_msg"
                                        *ngIf="loginForm.controls['newPassword'].touched && loginForm.controls['newPassword'].hasError('pattern')">
                                        <small> Password must contain at least one number and one uppercase and
                                            lowercase letter and
                                            one special character and minimum length
                                            should be 8.</small>
                                    </p>
                                    <!--end::Email-->
                                    <p class="text-danger error_msg" *ngIf="errorMessage">
                                        <b>{{errorMessage}}</b>
                                    </p>
                                </div>

                                <div class="fv-row mb-8">
                                    <!--begin::Email-->
                                    <div class="input-group mb-3">
                                        <input type="{{ confirmPassword ? 'text' : 'password' }}"
                                            formControlName="confirmPassword" placeholder="Confirm Password"
                                            name="confirmPassword" class="form-control bg-transparent">
                                        <span class="input-group-text"> <button class="btn" type="button"
                                                (click)="confirmPasswordVisibility()">
                                                <i [ngClass]="confirmPassword ? 'bi bi-eye' : 'bi bi-eye-slash'"></i>
                                            </button></span>
                                    </div>
                                    <p class="text-danger error_msg"
                                        *ngIf="loginForm.controls['confirmPassword'].touched && loginForm.controls['confirmPassword'].hasError('required')">
                                        <small>New Password Is Mandatory.</small>
                                    </p>
                                    <p class="text-danger error_msg"
                                        *ngIf="loginForm.controls['confirmPassword'].touched && loginForm.controls['confirmPassword'].hasError('pattern')">
                                        <small> Password must contain at least one number and one uppercase and
                                            lowercase letter and
                                            one special character and minimum length
                                            should be 8.</small>
                                    </p>
                                    <p class="text-danger error_msg" *ngIf="validPassword == true">
                                        <b>The confirm password does not match.</b>
                                    </p>
                                </div>
                                <!--begin::Wrapper-->
                                <div>
                                </div>
                                <!-- <div class="w-100">
                                    <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" (reset)="handleReset()"
                                        (expire)="handleExpire()" (load)="handleLoad()"
                                        (success)="handleSuccess($event)" [useGlobalDomain]="false"
                                        formControlName="recaptcha">
                                    </ngx-recaptcha2>
                                    <p class="text-danger error_msg"
                                        *ngIf="loginForm.controls['recaptcha'].touched && loginForm.controls['recaptcha'].hasError('required')">
                                        <b>Recaptcha is Mandatory.</b>
                                    </p>
                                </div> -->
                                <!-- <br /> -->
                                <!--end::Wrapper-->
                                <!--begin::Submit button-->
                                <div class="d-grid mb-10">
                                    <button type="submit" id="kt_sign_in_submit" class="btn btn-primary"
                                        (click)="loginAccount()">
                                        <!--begin::Indicator label-->
                                        <span class="indicator-label">Change Your Password</span>
                                        <!--end::Indicator label-->
                                        <app-loader [show]="loader"></app-loader>
                                    </button>
                                </div>

                                <!--end::Submit button-->

                            </form>
                            <!--end::Form-->
                        </div>
                        <!--end::Wrapper-->
                    </div>
                    <!--end::Form-->

                </div>
            </div>
        </div>
    </div>
</div>