
.sec_pad {
padding: 100px 0;
}
.answer-action {
border-radius: 6px;
background: #fff;
padding: 7px 12px;
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 8px;
}
.post-header {
display: flex;
justify-content: space-between;
background: rgb(80 205 137);

border: 1px solid #50cd89;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
}
.post-header.forums-header {
padding: 11px 15px;
display: flex;
text-align: left;
color: #fff;
font-size: 13px;
font-weight: 500;
}
.answer-action .action-content {
display: flex;
align-items: center;
}
.answer-action .action-content .image-wrap {
margin-right: 30px;
}
.answer-action .action-content .ans-title {
font-size: 15px;
font-weight: 500;
margin-bottom: 0px;
}
.answer-action .action-content p {
margin: 0;
  font-size: 12px;
}
.action-button-container {
display: flex;
justify-content: flex-end;
}


ul.forum-titles {
list-style: none;
display: flex;
padding: 0;
margin: 0;
justify-content: flex-end;
  align-items: center;
  padding-right: 9px;
}
ul.forum-titles .forum-topic-count, ul.forum-titles .forum-reply-count {
flex-basis: 25%;
}
ul.forum-titles .forum-freshness {
flex-basis: 50%;
}
ul.forum-titles .forum-freshness .freshness-box {
display: flex;
font-size: 14px;
line-height: 1.3;
flex-direction: column;
}
ul.forum-titles .forum-freshness .freshness-box a {
color: #6b707f;
  text-decoration: none;
}
ul.forum-titles .forum-freshness .freshness-box .freshness-btm {
display: flex;
justify-content: flex-end;
padding-top: 5px;
align-items: center;
}
ul.forum-titles .forum-freshness .freshness-box .freshness-btm a.bbp-author-link {
padding-right: 10px;
}
ul.forum-titles .forum-freshness .freshness-box .freshness-btm .bbp-author-avatar img {
max-width: 30px;
border-radius: 50%;
}
ul.forum-titles li {
text-align: right;
font-size: 14px;
}
.bb-radius {
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
overflow: hidden;
box-shadow: 0 3px 6px 0 rgba(4, 73, 89, 0.06);
border: 1px solid #eaeeef;
margin-top: -1px;
}
.community-post.style-two:not(:last-child) {
border-bottom: 1px solid #eaeeef;
}
.community-post.style-two {
margin-bottom: 0;
border-radius: 0;
box-shadow: none;
position: relative;
}
.community-post.forum-item {
  padding: 5px 0px;
}
.community-post {
border-radius: 6px;
box-shadow: 0 2px 8px 0 rgba(2, 47, 57, 0.1);
padding: 23px 30px;
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 20px;
transition: all 0.3s ease-in-out;
border: 1px solid transparent;
}
.community-post.style-two {
margin-bottom: 0;
border-radius: 0;
box-shadow: none;
position: relative;
}
.community-post .post-content {
display: flex;

flex-wrap: wrap;
padding: 0px 5px;
}
.community-post.style-two .post-content .entry-content .post-title {
display: inline-block;
margin-right: 10px;
margin-bottom: 1px;
}

.community-post .post-content .entry-content .post-title {
font-size: 14px;
font-weight: 600;
margin-bottom: 0;
line-height: 1.3;
color: #272727;
}
.community-post .post-content .author-avatar.forum-icon {
border-radius: 0;
}
.community-post .post-content .author-avatar {
width: 44px;
margin-right: 4px;
border-radius: 50%;
overflow: hidden;
height: 44px;
text-align: center;
line-height: 42px;
}
.community-post .post-content .author-avatar.forum-icon img {
padding: 2px;
}
.community-post .post-content .author-avatar img {
max-width: 36px;
}
.community-post .post-content .entry-content {
flex: 2;
}
.community-post.forum-item .post-content p {
  font-size: 12px;
line-height: 1.0;
margin-bottom: 0px;
}
.view-post-of p {
font-size: 13px;
}
.pagination-wrapper .page-link {
padding: 0.225rem 0.65rem;
}
.post .posttext {
 width: 100%;
padding-right: 30px;
padding-top: 20px;
padding-left: 30px;
padding-bottom: 15px;
color: #757575;
font-size: 12px;
/* font-family: 'Open Sans Light', sans-serif; */
line-height: 12px;
}
.post {
background-color: #ffffff;

}
.postinfobot {

padding: 0 30px 0 110px;
}


@media (max-width: 767px){
.post-meta-wrapper ul.forum-titles {
display: none;
}
.community-post {

display: block;

}
.forums-header .support-category-menus {
display: none;
}
}
