<div id="kt_body" class="auth-bg" *ngIf="thankyou<=0">
    <div class="d-flex flex-column flex-root">
       <!--begin::Authentication - Sign-in -->
       <div class="d-flex flex-column flex-lg-row flex-column-fluid" *ngIf="displayResetForm == true">
          <!--begin::Body-->
          <div class="d-flex flex-column flex-lg-row-fluid w-lg-50 p-10 order-2 order-lg-2">
             <!--begin::Form-->
             <div class="d-flex flex-center flex-column flex-lg-row-fluid">
                <!--begin::Wrapper-->
                <div class="w-lg-500px p-10">
                   <!--begin::Form-->
                   <form [formGroup]="resetForm" class="form w-100">
                      <!--begin::Heading-->
                      <div class="text-center mb-10">
                         <!--begin::Title-->
                         <h1 class="text-dark fw-bolder mb-3">Reset Password ?</h1>
                         <!--end::Title-->
                         <!--begin::Link-->
                         <div class="text-gray-500 fw-semibold fs-6">Enter your new password.</div>
                         <!--end::Link-->
                      </div>
                      <!--begin::Heading-->
                      <!--begin::Input group=-->
                      <div class="fv-row mb-8">
                         <!--begin::Email-->
                         <input type="text" formControlName="newPassword" placeholder="New Password" name="newPassword" autocomplete="off" class="form-control bg-transparent" />
                         <!--end::Email-->
                         <p class="text-danger error_msg"  *ngIf="resetForm.controls['newPassword'].touched && resetForm.controls['newPassword'].hasError('required') && formValidate">
                            <b>New Password Is Mandatory</b>   </p>
                      </div>
                      <div class="fv-row mb-8">
                        <!--begin::Email-->
                        <input type="text" formControlName="confirmPassword" placeholder="Confirm Password" name="confirmPassword" autocomplete="off" class="form-control bg-transparent" />
                        <!--end::Email-->
                        <p class="text-danger error_msg"  *ngIf="resetForm.controls['confirmPassword'].touched && resetForm.controls['confirmPassword'].hasError('required') && formValidate">
                           <b>Confirm Password Is Mandatory</b>   </p>
                     </div>
                      <!--begin::Actions-->
                      <div class="d-flex flex-wrap justify-content-center pb-lg-0">
                         <button type="button" id="kt_password_reset_submit" class="btn btn-primary me-4">
                            <!--begin::Indicator label-->
                            <span class="indicator-label" (click)="onSubmit()">Submit</span>
                         </button>
                         <a routerLink="/auth/login" routerLinkActive="active" class="btn btn-light">Cancel</a>
                      </div>
                      <!--end::Actions-->
                   </form>
                   <!--end::Form-->
                </div>
                <!--end::Wrapper-->
             </div>
             <!--end::Form-->
             
          </div>
          <!--end::Body-->
          <!--begin::Aside-->
          <div class="d-flex flex-lg-row-fluid w-lg-50 bgi-size-cover bgi-position-center order-1 order-lg-1" style="background-image: url(assets/media/misc/auth-bg.png)">
             <!--begin::Content-->
             <div class="d-flex flex-column flex-center py-7 py-lg-15 px-5 px-md-15 w-100">
                 <!--begin::Logo-->
                <a  class="mb-0 mb-lg-12 text-white fs-1 fw-bolder">
                   Mentorwayz
                </a>
                <!--end::Logo-->
                <!--begin::Image-->
                <img class="d-none d-lg-block mx-auto w-275px w-md-50 w-xl-375px mb-10 mb-lg-20" src="assets/media/auth/agency.png" alt="" />
                <!--end::Image-->
               
             </div>
             <!--end::Content-->
          </div>
          <!--end::Aside-->
       </div>
       <!--end::Authentication - Sign-in-->
    </div>
    <div class="modal-dialog modal-dialog-centered" *ngIf="displayResetForm == false">
      <div class="modal-content">
          <div class="modal-body">
              <div class="swal2-icon swal2-error swal2-icon-show" style="display: flex;">
                  <span class="swal2-x-mark">
                      <span class="swal2-x-mark-line-left"></span>
                      <span class="swal2-x-mark-line-right"></span>
                  </span>
              </div>
              <div class="swal2-html-container">
                  <h5>The link you have followed has expired. Please contact to business owner</h5>
              </div>
              <div class="text-center">
                  <!-- <button type="button" class="btn btn-light mt-4" (click)="display = false">Cancel</button> -->
                  <!-- <button style="margin-left: 4px;" type="button" class="btn btn-primary mt-4"
                (click)="deleteProgram()">Confirm</button> -->
              </div>
          </div>
      </div>
  </div>
 </div>

 <div class="vh-100 d-flex justify-content-center align-items-center" *ngIf="thankyou>0">
   <div class="card col-md-4 bg-white shadow-md p-5">
       <div class="mb-4 text-center">
           <svg xmlns="http://www.w3.org/2000/svg" class="text-success" width="75" height="75" fill="currentColor"
               class="bi bi-check-circle" viewBox="0 0 16 16">
               <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
               <path
                   d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
           </svg>
       </div>
       <div class="text-center">
           <h1>Thank You !</h1>
           <p>Your password submission has been updated. </p>
           <!-- <button class="btn btn-outline-success">Back Home</button> -->
       </div>

   </div>