
.answer-action {
   border-radius: 6px;
   background: #fff;
   padding: 7px 12px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 8px;
}

.answer-action .action-content {
   display: flex;
   align-items: center;
}
.answer-action .action-content .image-wrap {
   margin-right: 30px;
}
.answer-action .action-content .ans-title {
   font-size: 15px;
   font-weight: 500;
   margin-bottom: 0px;
}
.answer-action .action-content p {
   margin: 0;
       font-size: 12px;
}

.forum_l_inner {
   border-radius: 5px;
   border: 1px solid #eaeeef;
}

.forum_l_inner .forum_head {
  border-bottom: 1px solid rgb(80 205 137);
   padding: 9px 15px;
   color: #fff;
   background: rgb(80 205 137);
   font-size: 14px;
   font-weight: 500;
}



.forum_l_inner .forum_head i {
   color: #f06292;
   font-size: 14px;
   margin-right: 7px;
}



.forum_l_inner .forum_body .topic_list li {
   border-bottom: 1px solid #eaeeef;
      padding: 5px 0px;
}

.forum_l_inner .forum_body .topic_list li .media {
   align-items: center;
}
.forum_l_inner .forum_body .topic_list li .media .d-flex {
   padding-right: 18px;
}
.media-body {
   -ms-flex: 1;
   flex: 1;
}
.forum_l_inner .forum_body .topic_list li .media .media-body h6 {
   display: inline-block;
   margin-bottom: 0;
   font-size: 12px;
   color: #838793;
   font-weight: 400;
  
   margin-right: 16px;
   transition: all 300ms linear 0s;
}
.forum_l_inner .forum_body .topic_list li .media .media-right {
   vertical-align: middle;
   padding-right: 12px;
}



.forum_l_inner .forum_body .topic_list li:last-child {
   border-bottom: 0;
}

.forum_body .navbar-nav li .media .media-right .nav li a img {
   border-radius: 50%;
       width: 25px;
}




.forum_l_inner .forum_body .topic_list li .media .media-body h4 {
  font-size: 13px;
   font-weight: 500;
   margin-bottom: 0px;
   display: inline-block;
   transition: all 300ms linear 0s;
   color: #393939;
}
.view-post-of p {
   font-size: 13px;
}
.pagination-wrapper .page-link {
   padding: 0.225rem 0.65rem;
}
.post .posttext {
      width: 100%;
   padding-right: 30px;
   padding-top: 20px;
   padding-left: 30px;
   padding-bottom: 15px;
   color: #757575;
   font-size: 12px;
   /* font-family: 'Open Sans Light', sans-serif; */
   line-height: 12px;
}
.post {
   background-color: #ffffff;
   border-radius: 2px;
   box-shadow: 0 1px 2px #c9cccd;
   margin-bottom: 20px;
}
.postinfobot {
   border-top: solid 1px #f1f1f1;
   line-height: 50px;
   padding: 0 30px 0 110px;
}
   